@tailwind base;
@tailwind components;
@tailwind utilities;

.styleQ {
  clip-path: polygon(0 0, 100% 0%, 100% 88%, 0% 100%);
}

.style {
  /* display: flex; */
  width: 161.936px;
  height: 18.351px;
  /* flex-direction: column; */
  justify-content: center;
  /* flex-shrink: 0; */
  color: #fff;

  font-family: IBM Plex Mono;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
